body{
	background-color: #2471A3;
	font-family: Arial,Verdana,sans-serif;
	margin-left: 20px;
}
h1{
	text-align: center;
	color: white;
}
p{
	color: yellow;
	font-size: 20px;
}
label{
	font-weight: bold;
}
fieldset{
	background-color: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
input[type="text"]{
	width: 50%;
	height: 25px;
}
input[type="submit"],input[type="reset"]{
	width: 150px; 
	height: 30px; 
}
